body {
    background-color: #f8f9fa; /* Bootstrap background color */
    color: #495057; /* Bootstrap text color */
  }
  

  /* Container styles */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Row styles */
  .row {
    display: flex;
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Left column styles */
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  /* Right column styles */
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  /* Common styles for both columns */
  .pb-3 {
    padding-bottom: 1rem;
  }
  
  .weather-header {
    background: linear-gradient(to right, #007bff, #0056b3); /* Blue gradient background */
    padding: 20px; /* Add padding to the header */
    text-align: center; /* Center-align text */
    border: 2px solid #0056b3;
  }
  
  .weather-header h1 {
    margin: 0; /* Remove margin for the h1 element */
    font-size: 2em; /* Adjust font size */
    color: #fff; /* White text color */
    font-weight: bold;
  }

  #form-heading {
    font-size: 1.5rem;
  }
  
  .form {
    margin-bottom: 15px;
  }
  
  .weather-search {
    width: 70%;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .list-group {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .list-group-item {
    cursor: pointer;
    border: none;
    border-radius: 0;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  #today {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #today h2{
color: #000;

  }
  .forecast h2{
    color: #000; 
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  #forecast {
    background-color: #fff;
    display: flex; /* Set the forecast section as a flex container */
    align-items: center; /* Center-align items horizontally within the container */
    gap: 15px; /* Add some space between child elements */
   
  }
  .card {
    /* border: 1px solid #ddd; */
    border: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 200px;
    display: flex;
    flex-direction: column; /* Set each card as a flex container with a column direction */
    justify-content: space-between;
    padding: 15px;
    background-color: #2d3e50;
    color: #fff;
  }
  /* Hover effect - scale up the card on hover */
.card:hover {
    transform: scale(1.05);
  }
  /* #forecast .col-md-2 {
    margin-bottom: 15px;
  } */
 
  /* Responsive Styles */
  
  @media (max-width: 767px) {
    .form {
      flex-direction: column;
    }
  
    .weather-search {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  

  
  /* Responsive Styles */
  
  @media (max-width: 767px) {
    .form {
      flex-direction: column;
    }
  
    .weather-search {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  