body {
    background-color: #f8f9fa;
  }
  
  .container-fluid {
    padding: 15px;
  }
  
  .weather-header {
    background-color: #343a40;
  }
  
  .weather-header h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  
  #form-heading {
    font-size: 1.5rem;
  }
  
  .form {
    margin-bottom: 15px;
  }
  
  .weather-search {
    width: 70%;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .list-group {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .list-group-item {
    cursor: pointer;
    border: none;
    border-radius: 0;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  
  #today,
  #forecast {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #forecast .col-md-2 {
    margin-bottom: 15px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 767px) {
    .form {
      flex-direction: column;
    }
  
    .weather-search {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  

  
  /* Responsive Styles */
  
  @media (max-width: 767px) {
    .form {
      flex-direction: column;
    }
  
    .weather-search {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  